@import 'antd/dist/antd.css';

html, body {
    height: auto;
}

body {
    background-color: #f3f6fb;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page {
    max-width: 1080px;
    position: relative;
    margin: 20px auto;
}

@media only screen and (max-width: 1080px){
    .page {
        width: 90%;
    }
}
